<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Login</title>
</h:head>

<h:body>
	<h:form id="login">
		<div align="center">
			<h:panelGrid columns="2" cellpadding="4">
			
				<p:outputLabel value="E-mail" style="width:50px" />
				<p:inputText id="email" maxlength="80" value="#{login.usuario.email}" required="true" />

				<p:outputLabel value="Senha" style="width:50px" />
				<p:inputText id="senha" maxlength="8" type="password" value="#{login.usuario.senha}" required="true" />
				
				<p:commandButton value="Logar" id="logar" class="btn btn-success btnWidth" 
					action="#{login.logar}">
				</p:commandButton>
	
				<p:commandButton value="Cadastrar" id="cadastrar" class="btn btn-success btnWidth" 
					action="#{login.cadastrar}">
				</p:commandButton>
			</h:panelGrid>
		</div>
	</h:form>
</h:body>
</html>
